<div class="text-center m-3">
    <h3>ユーザーの詳細</h3>
    <p>ユーザー名：<%= @user.name %></p>
    <p>メールアドレス：<%= @user.email %></p>

    <%= link_to 'ユーザーリストに戻る', users_path ,class:'btn btn-primary' %>
</div>